body {
  font-family: "Oxygen", sans-serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

/* Header Stuff Here */
header {
	background-color: #d0e3ff;
	padding: 1rem 2vw;
}
header h1 {
	margin: 0;
	color: #081f5c;
}
header p {
	margin: 0;
	color: #081f5c;
	letter-spacing: .75px;
}

/*small screens*/
@media only screen and (max-width: 600px) {
	nav ul {
		margin: 0;
		padding: 0 2vw;
		list-style-type: none;
		
	}
	nav a {
		display: block;
		padding: .8rem;
		text-decoration: none; 
		font-weight: 700;
		text-transform: uppercase;
		text-align: center;
		border-bottom: solid 1px #aaa;
		color: #036240;
	}
	nav .active a {
		background-color: #9aab89;
		background-image: linear-gradient(to bottom,#9aab89,#7e8c71);
		color: white;
		border-radius: 10px;
	}	
	
} /*end of the media query*/




/*BIG Sreens*/
@media only screen and (min-width: 601px) {
	
	nav {
	background-color: #9aab89;
}
nav ul {
	list-style-type: none;
	padding: 0 2vw;
	margin: 0;
	display: flex;
}
nav a {
	font-size: 1.1rem;
	text-decoration: none;
	color: #081f5c;
	font-weight: 700;
	display: block;
	padding: .83rem 2rem;
}
nav li.active a {
	background-color: #081f5c;
	color: #fff;
}
nav a:hover {
	color: #fff;
}
	
} /*end of the media query*/










/* stuff for main here */
main {
	padding: 1rem 2vw;
}
main h1 {
	color: #036240;
}
main h2 {
	color:  #081f5c;
	margin-bottom: .2rem;
}
main p {
	color: #2f3133;
	margin: 0 0 .3rem 0;
}
main dl dt {
	color: #036240;
	font-weight: 700;
}
main dl dd {
	font-size: .9rem;
}
main ul {
	list-style-type: circle;
	background-color: #efefef;
	padding: .5rem 3vw;
	
}
main li {
	line-height: 125%;
	margin-bottom: .6rem;
	font-size: .9rem;
	
}
.custom-color {
  color: #036240;
}

.travelhero {
	width: 100%;
	margin: 0;
}
.travelhero img {
	width: 100%;
	height: auto;
}

div.gallery {
	display: flex;
	flex-wrap: wrap;
	
}

div.gallery figure {
	margin: .5rem 2% 0 0;
}
div.gallery figcaption {
	text-align: center;
	font-size: .8rem;
	color: #436b5c;
}
div.gallery img {
	width: 98%;
	height: auto;
	border: 2px solid #081f5c;
	border-radius: 10px;
}
div.gallery img:hover {
	box-shadow: 0px 0px 10px black;
}

div.packages {
	background-color: #efefef;
	padding: .3rem .6rem 3vw;
	width: 500px;
	border: 2px solid #081f5c;
	margin-bottom: 25px;
}

div.escapade {
	background-color: #efefef;
	padding: .3rem .6rem 3vw;
	width: 500px;
	border: 2px solid #081f5c;
	margin-bottom: 20px;
	
}

div.dominican {
	background-color:#efefef;
	padding: .3rem .6rem 3vw;
	width: 500px;
	border: 2px solid #081f5c;
}
figure.getaway {
	float: right;
	margin-left: 15px;
	margin-right: -50px;
	margin-top: -360px;
}
figure.getway img {
	width: 100%;
	height: auto;
}
div a {
	color:#436b5c;
}
.custom-bold {
	font-weight: bold;
	color: #081f5c;
}
figure.landire {
	float: right;
	margin-left: 15px;
	margin-right: -50px;
	margin-top: -360px;
}
figure.republic {
	float: right;
	margin-left: 15px;
	margin-right: -50px;
	margin-top: -360px;
}













.myForm fieldset {
	border: 1px solid #436b5c;
	border-radius: 3px;
	margin-bottom: 1rem;
}
.myForm legend {
	color: #436b5c;
	font-size: .8rem;
}
.myForm label {
	margin: .5rem;
}

.myForm label, .myForm select, .myForm [type=text], .myForm [type=tel], .myForm textarea {
	display:block;
}

.myForm [type=text], .myForm [type=tel], .myForm select, myForm textarea
{
	border: solid 1px #888;
	padding: .3rem;
	width: 250px;
	border-radius: .3rem;
	font-family: 'PT Serif', serif;
    font-weight: 400;	
}
.myForm textarea {
	height: 6rem;
}

.myForm :required {
	background-color: rgba(208,227,255,0.5);
}

.myForm [type=submit] {
	background-color: #436b5c;
	border: none;
	padding: 1rem 2rem;
	border-radius: 10px;
	color: white;
	margin: 1rem 0 0 1vw;
}






/* Footer stuff here */
footer {
	background-color: #d0e3ff;
	text-align: center;
	color: #081f5c;
	padding: 1rem 0;
	font-size: .8rem;
}
footer a {
	color: #081f5c;
}


header, nav, main, footer {
	max-width: 64rem;
	margin: 0 auto;
}






