body {
	font-family: 'PT Serif', serif;
	font-size: 16px;
	font-weight: 400;
	margin: 0;
}

/* Header Stuff Here */
header {
	background-color: #436b5c;
	padding: 1rem 2vw;
}
header h1 {
	margin: 0;
	color: #e8e2db;
}
header p {
	margin: 0;
	color: #e8e2db;
	letter-spacing: .2px; 
}

/* nav stuff goes here */
nav {
	background-color: #bf9550;
}
nav ul {
	list-style-type: none;
	padding: 0 2vw;
	margin: 0;
	display: flex; 
}
nav a {
	font-size: 1.1rem;
	text-decoration: none;
	color: #e8e2db;
	font-weight: 700;
	display: block;
	padding: .83rem 2rem;
}
nav li.active a {
	background-color: #e8e2db; 
	color: #bf9550;
}
nav a:hover {
	color: #436b5c;
}


/* stuff for the main */
main {
	padding: 1rem 2vw;
}
main h1 {
	color: #e25439;
	margin: 0 0 .5rem 0;
}

main h2 {
	color: #436b5c;
	margin-bottom: .2rem;
}

main p {
	color: #2f3133;
	margin: 0 0 .5rem 0;
}

main ol {
	padding: .5rem 3vw;
	background: #e6b5a6;
}

main dl dt {
	color: #e25439;
	font-weight: 700;
}
main dl dd {
	color: #2f3133;
	font-size: .9rem;
}

main ul {
	list-style-type: circle;
}
main ul li {
	line-height: 125%;
	margin-bottom: .5rem;
	font-size: .9rem;
}

main address {
	font-style: normal;
	background-color: #bf9550;
	padding: .5rem; 
	width: 12.5rem;
	border: 1px solid #436b5c;
	border-radius: .5rem;
}

main a {
	color: #436b5c;
}
main a:hover {
	color: rgb(239,0,24);
}


/* footer stuff here */
footer {
	background-color:  #e6b5a6;
	text-align: center;
	color: #436b5c;
	padding: 1rem 0;
	font-size: .8rem;
}
footer a {
	color: #436b5c;
}

















